[Desktop Entry]
Type=Application
Name=DGCU-Net-Portal
Comment=DGCU 校园网 Portal 客户端
Exec=portal-gui
Icon=portal-gui
Terminal=false
Categories=Network;Utility;
StartupWMClass=portal-gui
